body {
  background-color: #8FBC8F; /* Light Emerald Green Background */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  background-color: transparent; /* Ensure no background color */
}